.about {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.avatarMain {
    float: right;
}

.avatar {
    width: 350px;
}

.about h1 {
    font-size: 55px;
    color: white;
}

.about p {
    max-width: 55%;
    font-size: 25px;
    color: white;
    margin-bottom: -30px;
}

.about p span {
    color: var(--primeryColor);
}

@media screen and (max-width: 450px) {
    .abillitis {
        width: 90%;
        height: 140px;
    }
}

@media screen and (max-width: 850px) {
    .avatarMain {
        display: none;
    }
    .about p {
        max-width: 90%;
        font-size: 22px;
    }
}