:root {
    --backgroundColor: #8BA2CF;
    --primeryColor: #225F99;
    --hoverAbillitis: #cfd7df48;
    --contactCard: rgba(217, 217, 217, 56%);
    --hoverSocialIcons: rgb(215, 225, 235);
    --projectCard: #CED5E0;
    --buttonLinkCardProject: #4e5461;
}